/* styles.css */

/* Header Styles */
.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

.title {
    margin: 0;
}

.navbar {
    text-align: right;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    color: #f8f9fa;
}